@{
    ViewData["Title"] = "Dashboard";
}
@model Wrapper

<div class="text-center">
    <h1>Hello @Model.CurrentUser.FirstName @Model.CurrentUser.LastName</h1>
    <div>
        <a href="/JoinGroup"><button class="btn btn-primary">Join a group!</button></a>
        <a href="/NewGroup"><button class="btn btn-primary">Start a new group!</button></a>
    </div>
    @if(@Model.AllGroups.Count == 0)
    {
        <p>You're not in any groups. Perhaps you would like to <a href="/JoinGroup">join one</a> or <a href="/NewGroup">start a new one?</a></p>
    }
    else
    {
        foreach(Group group in Model.AllGroups)
        {
            <p>You're a member of this group: @group.Name</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Buy Price</th>
                        <th scope="col">Mon. AM</th>
                        <th scope="col">Mon. PM</th>
                        <th scope="col">Tues. AM</th>
                        <th scope="col">Tues. PM</th>
                        <th scope="col">Wed. AM</th>
                        <th scope="col">Wed. PM</th>
                        <th scope="col">Thurs. AM</th>
                        <th scope="col">Thurs. PM</th>
                        <th scope="col">Fri. AM</th>
                        <th scope="col">Fri. PM</th>
                        <th scope="col">Sat. AM</th>
                        <th scope="col">Sat. PM</th>
                        <th scope="col">Big Spike</th>
                        <th scope="col">Small Spike</th>
                        <th scope="col">Fluct.</th>
                        <th scope="col">Decr.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Membership Members in group.Members)
                    {
                        <tr>
                            <td>@Members.User.FirstName @Members.User.LastName</td>
                            <td>@Members.User.Trends[0].BuyPrice</td>
                            <td>@Members.User.Trends[0].MonAM</td>
                            <td>@Members.User.Trends[0].MonPM</td>
                            <td>@Members.User.Trends[0].TueAM</td>
                            <td>@Members.User.Trends[0].TuePM</td>
                            <td>@Members.User.Trends[0].WedAM</td>
                            <td>@Members.User.Trends[0].WedPM</td>
                            <td>@Members.User.Trends[0].ThurAM</td>
                            <td>@Members.User.Trends[0].ThurPM</td>
                            <td>@Members.User.Trends[0].FriAM</td>
                            <td>@Members.User.Trends[0].FriPM</td>
                            <td>@Members.User.Trends[0].SatAM</td>
                            <td>@Members.User.Trends[0].SatPM</td>
                            <td>@Members.User.Trends[0].BigSpike</td>
                            <td>@Members.User.Trends[0].SmallSpike</td>
                            <td>@Members.User.Trends[0].Fluctuating</td>
                            <td>@Members.User.Trends[0].Decreasing</td>
                        </tr>
                        <p>@Members.User.FirstName</p>
                    }
                </tbody>
            </table>
        }
    }
    <p>Here are your trends for the week!</p>
    <form asp-action="UpdatePrices" asp-controller="Home" method="POST">
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Buy Price</th>
                        <th scope="col">Mon. AM</th>
                        <th scope="col">Mon. PM</th>
                        <th scope="col">Tues. AM</th>
                        <th scope="col">Tues. PM</th>
                        <th scope="col">Wed. AM</th>
                        <th scope="col">Wed. PM</th>
                        <th scope="col">Thurs. AM</th>
                        <th scope="col">Thurs. PM</th>
                        <th scope="col">Fri. AM</th>
                        <th scope="col">Fri. PM</th>
                        <th scope="col">Sat. AM</th>
                        <th scope="col">Sat. PM</th>
                        <th scope="col">Big Spike</th>
                        <th scope="col">Small Spike</th>
                        <th scope="col">Fluct.</th>
                        <th scope="col">Decr.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input asp-for="@Model.CurrentTrend.BuyPrice" value="@Model.CurrentUser.Trends[0].BuyPrice"></td>
                        <td><input asp-for="@Model.CurrentTrend.MonAM" value="@Model.CurrentUser.Trends[0].MonAM"></td>
                        <td><input asp-for="@Model.CurrentTrend.MonPM" value="@Model.CurrentUser.Trends[0].MonPM"></td>
                        <td><input asp-for="@Model.CurrentTrend.TueAM" value="@Model.CurrentUser.Trends[0].TueAM"></td>
                        <td><input asp-for="@Model.CurrentTrend.TuePM" value="@Model.CurrentUser.Trends[0].TuePM"></td>
                        <td><input asp-for="@Model.CurrentTrend.WedAM" value="@Model.CurrentUser.Trends[0].WedAM"></td>
                        <td><input asp-for="@Model.CurrentTrend.WedPM" value="@Model.CurrentUser.Trends[0].WedPM"></td>
                        <td><input asp-for="@Model.CurrentTrend.ThurAM" value="@Model.CurrentUser.Trends[0].ThurAM"></td>
                        <td><input asp-for="@Model.CurrentTrend.ThurPM" value="@Model.CurrentUser.Trends[0].ThurPM"></td>
                        <td><input asp-for="@Model.CurrentTrend.FriAM" value="@Model.CurrentUser.Trends[0].FriAM"></td>
                        <td><input asp-for="@Model.CurrentTrend.FriPM" value="@Model.CurrentUser.Trends[0].FriPM"></td>
                        <td><input asp-for="@Model.CurrentTrend.SatAM" value="@Model.CurrentUser.Trends[0].SatAM"></td>
                        <td><input asp-for="@Model.CurrentTrend.SatPM" value="@Model.CurrentUser.Trends[0].SatPM"></td>
                        <td><input asp-for="@Model.CurrentTrend.BigSpike" value="@Model.CurrentUser.Trends[0].BigSpike"></td>
                        <td><input asp-for="@Model.CurrentTrend.SmallSpike" value="@Model.CurrentUser.Trends[0].SmallSpike"></td>
                        <td><input asp-for="@Model.CurrentTrend.Fluctuating" value="@Model.CurrentUser.Trends[0].Fluctuating"></td>
                        <td><input asp-for="@Model.CurrentTrend.Decreasing" value="@Model.CurrentUser.Trends[0].Decreasing"></td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Update Prices</button>
        </div>
    </form>
</div>